.table-view
  flex-grow: 1
  width: 100%
  height: 100%
  padding: 20px

  .data-table
    width: 100%
    color: #485e68

    th, td
      border: 1px solid transparent

    td
      padding: 10px

    thead td
      background-color: #d1e3e3
      color: #177693

    tbody td
      background-color: #f5f6f8

    textarea
      height: 5em
      resize: vertical
